@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
  # Table
*/

table, th, td {
    border: 1px solid lightslategray;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}


/*
  # Navigation
*/
header {
    height: 70px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    width: 800px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.nav_container_left {
    justify-content: flex-start;
}

.nav_container_right {
    justify-content: flex-end;
}

li {
    margin: 10px;
}

a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
    padding: 5px;
    font-family: 'Lexend Zetta', sans-serif;

}

a:hover {
    border: 2px solid rgb(211, 245, 45);
}

/*
  # Form
*/

form {
    width: 800px;
    margin: 20px 0;
    background-color: lightslategray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span,
form p {
    font-weight: bold;
}

input {
    padding: 7px;
    margin: 5px;
    width: 300px;
}

button {
    padding: 7px;
    margin: 5px;
    background-color: rgb(211, 245, 45);
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    border: none;
    width: 300px;
}

.error {
    color: red;
    font-size: .8em;
}

textarea.input-field {
    padding: 20px;
}

/*
  # Index
*/

.index__body {
    /*height: 100vh;*/
}

#image_container {
    background-image: url("/images/doing-abs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100vw;
}


#pizza-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-content: center;
    justify-items: center;
    margin: 0 auto;
}

#pizza-grid-container .data-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    border-radius: 100%;
    margin: 15px;
}

.product_bottom {
    width: 150px;
}

h3, h1 {
    margin: 10px;
}

img:hover {
    transform: scale(1.1);
}

main {
    margin-bottom: 50px;
}

.title {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 50px;
    margin: 50px;
    color: lightslategray;
}

.table {
    width: 80%;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
}

.item_text {
    font-size: 20px;
    font-family: 'Bangers', cursive;
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orangered;
}

.modal .close {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

/*
  #Feedback
*/

.message_for_user {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 15px;
    margin: 15px;
    color: lightslategray;
}

