@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
  # Table
*/
table, th, td {
    border: 1px solid lightslategray;
    border-collapse: collapse;
}

.table {
    width: 50%;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
}

/*
  # Navigation
*/
header {
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: lightslategray;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.nav_container_left {
    justify-content: flex-start;
}

.nav_container_right {lo
    justify-content: flex-end;
}

li {
    margin: 10px;
}

nav a {
    color: white;
}

a {
    color: lightslategray;
    font-size: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
    padding: 5px;
    font-family: 'Lexend Zetta', sans-serif;
}

a:hover {
    border: 2px solid rgb(238, 166, 84);
}

.active {
    border: 2px solid rgb(238, 166, 84);
}

/*
  # Form
*/

form {
    margin: 20px 0;
    background-color: lightslategray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}

span,
form p {
    font-weight: bold;
}

input {
    padding: 7px;
    margin: 5px;
}

button {
    padding: 7px;
    margin: 5px;
    background-color: rgb(238, 166, 84);
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    border: none;
    width: 200px;
}

button:hover {
    color: lightslategray;
}


.error {
    color: red;
    font-size: 12px;
}

textarea {
    padding: 20px;
    width: 200px;
    height: 150px;
}

form p {
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 15px;
    padding: 10px;
}


/*
  # Index
*/

#services_container {
    display: flex;
    flex-direction: column;
}

#image_container {
    height: 150px;
    width: 100vw;
    background-image: url('../images/istockphoto-1140063245-170667a.jpg');
    background-size: cover;
}

.iframe_container {
    width: 100vw;
}

.service_image {
    width: 500px;
    height: 200px;
}

.service_container {
    width: calc(800px / 4);
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid lightslategray;
    text-align: center;
    margin: 10px 0;
}

.service_image {
    height: 40%;
    width: 100%;
}

.service_name {
    font-family: 'Lexend Zetta', sans-serif;
    margin: 10px 5px;
    font-size: 15px;
}

.service_description {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 10px;
    margin: 0 5px;
}


/*
  #Feedback
*/
.message_for_user {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 15px;
    margin: 15px;
    color: lightslategray;
}

.title {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 15px;
    margin: 50px;
    color: lightslategray;
}

/*
  #Footer
*/
footer {
    height: 70px;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 10px;
}


@media only screen and (min-width: 401px) {
    nav {
        width: 800px;
    }

    a {
        font-size: 15px;
    }

    #image_container {
        width: 100vw;
        height: 300px;
        background-size: contain;
        background-repeat: repeat;
    }

    form {
        width: 500px;
    }

    input {
        width: 300px;
    }

    textarea {
        width: 300px;
    }

    button {
        width: 300px;
    }

    #services_container {
        height: 400px;
        width: 800px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        align-content: center;
        justify-items: center;
        margin: 20px 0;
    }

    .title {
        font-size: 40px;
        margin: 50px;
    }
}