@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
  # Table
*/

table, th, td {
    border: 1px solid lightslategray;
    border-collapse: collapse;
}

.table {
    width: 80%;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
}


/*
  # Navigation
*/
header {
    height: 70px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    width: 800px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.nav_container_left {
    justify-content: flex-start;
}

.nav_container_right {
    justify-content: flex-end;
}

li {
    margin: 10px;
}

nav a  {
    color: white;
}

 a  {
    color: lightslategray;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
    padding: 5px;
    font-family: 'Lexend Zetta', sans-serif;

}


a:hover {
    border: 2px solid rgb(238, 166, 84);
}

/*
  # Form
*/

form {
    width: 800px;
    margin: 20px 0;
    background-color: lightslategray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span,
form p {
    font-weight: bold;
}

input {
    padding: 7px;
    margin: 5px;
    width: 300px;
}

button {
    padding: 7px;
    margin: 5px;
    background-color: rgb(238, 166, 84);
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    border: none;
    width: 300px;
}

button:hover {
    color: lightslategray;
}


.error {
    color: red;
    font-size: .8em;
}

textarea {
    padding: 20px;
    width: 300px;
    height: 150px;
}

form p {
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 15px;
    padding: 10px;
}


/*
  # Index
*/

.title {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 50px;
    margin: 50px;
    color: lightslategray;
}

.product-container {
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 20px;
    align-content: center;
    justify-items: center;
    margin: 20px;
}




/*
  #Feedback
*/

.message_for_user {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 15px;
    margin: 15px;
    color: lightslategray;
}

@media only screen and (min-width: 400px) {

}